:root {
    --background: #fff;
    --border: #e0e0e0;
    --text: #333;
    --link: #b4637a;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: serif;
    font-size: 16px;
    line-height: 1.5rem;
    background-color: var(--background);
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: underline solid var(--link);
    text-underline-offset: 4px;
    transition: color 100ms ease;
}

a:hover {
    cursor: pointer;
    color: var(--link);
}

body {
    display: grid;
    grid-template-rows: 6rem auto;
    grid-auto-flow: row dense;
}

@media (min-width: 90rem) {    
    body {
        grid-template-columns: 1fr 20rem 48rem 20rem 1fr;
    }
}

header {
    grid-row: 1;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}

@media (min-width: 90rem) {
    header {
        grid-column: 3;
        border-left: 1px solid var(--border); 
        border-right: 1px solid var(--border);
    }
}

header .home {
    font-size: 1.5rem;
    font-weight: 700;
}

header nav a {
    margin: 0 1rem;
}

main {
    grid-row: 2;
    padding: 0 1.5rem;
    padding-bottom: 6rem;
}

@media (min-width: 90rem) {
    main {
        grid-column: 3;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
    }
}

@media (max-width: 90rem) {
    aside {
        margin: 0 1rem 1rem 1rem;
        padding: 0.3rem 0.5rem;
        border: 1px solid var(--border);
        border-left: 3px solid var(--border)
    }
}

@media (min-width: 90rem) {
    aside {
        position: absolute;
        margin-left: 48rem;
        width: 17rem;
        border-top: 1px solid var(--border);
        padding-top: 0.5rem;
    }
}

p {
    margin: 0 0 1rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

sup {
    vertical-align: super;
    font-size: 0.83em;
    line-height: 1.0;
}

blockquote {
    border-left: 3px solid var(--border);
    padding-left: 0.75rem;
    margin: 1rem 0;
}

code {
    background-color: #faf4ed;
    font-family: monospace;
}

:not(pre) > code {
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    background-color: #faf4ed;
    border: 1px solid #f2e9e1;
    border-radius: 4px;
    padding: 0 0.5rem;
    margin: 1.5rem 0;
    counter-reset: line;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

pre code {
    display: block;
    line-height: 1rem;
}

pre code:before {
    counter-increment: line;
    content: counter(line);
    color: #d7827e;
    border-right: 1px solid #ebbcbaaf;
    font-weight: bold;
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: 0 0.5rem 0 0;
    display: inline-block;
}

pre code:nth-of-type(1):before {
    padding: 0.75rem 0.5rem 0.25rem 0;
}

pre code:last-child:before {
    padding: 0.25rem 0.5rem 0.5rem 0;
}


pre code:nth-of-type(1):last-child:before {
    padding: 0.75rem 0.5rem 0.5rem 0;
}   

pre .language-tag {
    font-family: monospace;
    width: fit-content;
    height: 1.5rem;
    background-color: #ebbcba49;
    color: #d7827e;
    border-radius: 0 0 8px 0;
    margin-left: -0.5rem;
    padding: 0 0.5rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

ol, ul {
    margin: 1rem 0 0 1.5rem;
    list-style: outside;
}

.date {
    margin-bottom: 1.5rem;
}

.thoughts {
    margin-top: 1rem;
    font-size: 18px;
}
